body { padding-top: 60px; }

a.accordion-toggle {
  display: block;
  padding: 10px  15px;
  text-decoration: none;  
}

div.panel-heading:hover{
	background-color: #003380;
}

div.panel-body{	
	background-color: #003366;
}
div#well_entry{
	box-shadow: 0 0 30px rgba(0,0,0,0.8);
	 text-shadow: 2px 2px  3px black;
   background-color: #003366;
   color: white;
}


.centering {
  float:none;
  margin:0 auto;
  text-align:center;
}

.transparent-input{
       background-color:rgba(0,0,0,0) !important;
       color: white;
    }

    .no-click {
    pointer-events: none;
}

button[type="submit"]:hover, button[type="reset"]:hover{
  color:white;

}
button[type="submit"],button[type="reset"]{
border: 1px solid white;
}